Docs/EC2 Key/web-server-key.pem
Apps/S3ToBlazegraphLambda/.vs/
Apps/S3ToRekognitionLambda/.vs/
Apps/UploadToS3Lambda/.vs/
Apps/S3ToBlazegraphLambda/S3ToBlazegraphLambda/bin/
Apps/S3ToBlazegraphLambda/S3ToBlazegraphLambda/obj/
Apps/S3ToRekognitionLambda/S3ToRekognitionLambda/bin/
Apps/S3ToRekognitionLambda/S3ToRekognitionLambda/obj/
Apps/UploadToS3Lambda/UploadToS3Lambda/bin/
Apps/UploadToS3Lambda/UploadToS3Lambda/obj/
Apps/BlazegraphToS3Lambda/.vs/
Apps/BlazegraphToS3Lambda/BlazegraphToS3Lambda/bin/
Apps/BlazegraphToS3Lambda/BlazegraphToS3Lambda/obj/
Docs/EC2 Key/private-key.ppk
